.small-tooltip{
    background-color: indigo;
    color: white;
    font-weight: bold;
}

mat-card mat-form-field{
    width: 45%;
}

mat-card mat-radio-button{
    width: 100%;
}

mat-card mat-radio-button.inline{
    width: 15%;
    margin-right: 10px;
}