<div class="container bg-light">
        
        <div class="row">
            <div class="col-md-4 order-md-2">
                <mat-card>
                    <mat-card-header>
                         <p></p>
                    </mat-card-header>
                    <div mat-card-image>
                            <img class="d-block mx-auto mb-4" src="http://www.humanillnesses.com/photos/heart-disease-2431.jpg" width="200" alt="">
                    </div>
                    <mat-card-title>
                           {{ output.pred*100 | number: '2.2-2'}} %
                        </mat-card-title>
                    <mat-card-subtitle>
                            Na podstawie wprowadzonych danych obliczane jest prawdopodobieństwo wystąpienia choroby serca.
                    </mat-card-subtitle>
                    <mat-card-content>
                            <table>
                              <tr><td>Płeć: </td><td>{{ attributes.gender | gender }}</td></tr>
                              <tr><td>Wiek: </td><td>{{ attributes.age }}</td></tr>
                              <tr><td>Ciśnienie: </td><td>{{ attributes.pressure }}</td></tr>
                              <tr><td>Tętno: </td><td>{{ attributes.heartRate }}</td></tr>
                              <tr><td>Cholesterol: </td><td>{{ attributes.cholesterol }}</td></tr>
                              <tr><td>Cukier: </td><td>{{ attributes.sugar | sugar }}</td></tr>
                              <tr><td>Ból po wysiłku: </td><td>{{ attributes.exercisePain | exercisePain}}</td></tr>
                              <tr><td>Obniżenie ST: </td><td>{{ attributes.oldpeak }}</td></tr>
                              <tr><td>Typ bólu: </td><td>{{ attributes.painType | painType }}</td></tr>
                              <tr><td>Nachylenie: </td><td>{{ attributes.slopeST | slope }}</td></tr>
                              <tr><td>Ilość naczyń: </td><td>{{ attributes.ca }}</td></tr>
                              <tr><td>Ekg: </td><td>{{ attributes.ecg | ecg }}</td></tr>
                              <tr><td>Scyntografia: </td><td>{{ attributes.thal }}</td></tr>
                            </table>
                          </mat-card-content>
                </mat-card>
            </div>
          <div class="col-md-8 order-md-1">
              <mat-card>
                  <mat-card-title>
                        Dane
                  </mat-card-title>
                  <mat-card-content>
                    <form class="needs-validation" novalidate>
                            <div class="mb-3">
                                <mat-radio-group [(ngModel)]='attributes.gender' name='gender' (change)='performPrediction()'>
                                    <mat-radio-button value='0'>Kobieta</mat-radio-button>
                                    <mat-radio-button value='1'>Mężczyzna</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <div class="mb-3">
                                <mat-form-field>
                                    <input matInput [(ngModel)]='attributes.age' name='age' placeholder="Wiek..." type='number' (change)='performPrediction()'>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput [(ngModel)]='attributes.pressure' name='pressure' placeholder="Spoczynkowe ciśnienie krwi... (mm Hg)" type='number' (change)='performPrediction()'>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput [(ngModel)]='attributes.heartRate' name='heartRate' placeholder="Maksymalne uzyskane tętno..." type='number' (change)='performPrediction()'>
                                </mat-form-field>
                                <mat-form-field>
                                    <input matInput [(ngModel)]='attributes.cholesterol' name='cholesterol' placeholder="Poziom cholesterolu... (mg/dl)" type='number' (change)='performPrediction()'>
                                </mat-form-field>
                            </div>
                        <div class="mb-3 ml-5">
                            <mat-slide-toggle [(ngModel)]='attributes.sugar' name='sugar' (change)='performPrediction()'>Podwyższony poziom cukru (powyżej 120mg/dl)</mat-slide-toggle>
                            <mat-slide-toggle [(ngModel)]='attributes.exercisePain' name='exercisePain' (change)='performPrediction()'>Ból w klatce piersiowej wywoływany przez wysiłek fizyczny</mat-slide-toggle>
                            </div>
                            <h6 class="text-secondary"><strong>Obniżenie odcinka ST podczas wysiłku względem spoczynku</strong></h6>
                            <mat-form-field>
                                <input matInput [(ngModel)]='attributes.oldpeak' name='oldpeak' placeholder="mm" type='number' (change)='performPrediction()'>
                            </mat-form-field>
                            <h6 class="text-secondary"><strong>Ból w klatce piersiowej</strong></h6>
                            <div class="mb-3 ml-5">
                            <div class="row">
                                <mat-radio-group [(ngModel)]='attributes.painType' name='painType' (change)='performPrediction()'>
                                    <mat-radio-button value='1'>Dławica piersiowa stabilna</mat-radio-button>
                                    <mat-radio-button value='2'>Dławica piersiowa niestabilna</mat-radio-button>
                                    <mat-radio-button value='3'>Ból inny niż dławica piersiowa</mat-radio-button>
                                    <mat-radio-button value='4'>Brak</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            </div>
                            <h6 class="text-secondary"><strong>Nachylenie segmentu ST podczas wysiłku</strong></h6>
                            <div class="mb-3 ml-5">
                                <div class="row">
                                    <mat-radio-group [(ngModel)]='attributes.slopeST' name='slopeST' (change)='performPrediction()'>
                                        <mat-radio-button value='1'>W górę</mat-radio-button>
                                        <mat-radio-button value='2'>Płaskie</mat-radio-button>
                                        <mat-radio-button value='3'>W dół</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <h6 class="text-secondary"><strong>Ilość głównych naczyń zabarwionych za pomocą fluoroskopii</strong></h6>
                            <div class="mb-3 ml-5">
                            <div class="row">
                                <mat-radio-group [(ngModel)]='attributes.ca' name='ca' (change)='performPrediction()'>
                                    <mat-radio-button class="inline" value='0'>0</mat-radio-button>
                                    <mat-radio-button class="inline" value='1'>1</mat-radio-button>
                                    <mat-radio-button class="inline" value='2'>2</mat-radio-button>
                                    <mat-radio-button class="inline" value='3'>3</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            </div>
                            <h6 class="text-secondary"><strong>Wyniki EKG</strong></h6>
                            <div class="mb-3 ml-5">
                                <div class="row">                    
                                    <mat-radio-group [(ngModel)]='attributes.ecg' name='ecg' (change)='performPrediction()'>
                                        <mat-radio-button value='0'>W normie</mat-radio-button>
                                        <mat-radio-button value='1'>Nieprawidłowość fal ST-T</mat-radio-button>
                                        <mat-radio-button value='2'>Wykryte prawdopodobieństwo lub wystąpienie przerostu lewej komory według kryteriów Estesa</mat-radio-button>
                                    </mat-radio-group>
                                </div>
                            </div>
                            <h6 class="text-secondary"><strong>Scyntografia serca</strong></h6>
                            <div class="mb-3 ml-5">
                            <div class="row">
                                <mat-radio-group [(ngModel)]='attributes.thal' name='thal' (change)='performPrediction()'>
                                    <mat-radio-button value='3'>W normie</mat-radio-button>
                                    <mat-radio-button value='6'>Nieodwracalne niedokrwienie</mat-radio-button>
                                    <mat-radio-button value='7'>Odwracalne niedokrwienie</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            </div>
                        </form>
                  </mat-card-content>
                  <mat-card-actions>
                        <button mat-raised-button color="primary" class="w-100" (click)=performPrediction()>
                                Sprawdź
                            </button>
                  </mat-card-actions>
              </mat-card>
          </div>
        </div>
