/* You can add global styles to this file, and also import other style files */
body.main-background {
    background-image: url("./assets/images/ecg.png");
    background-repeat: repeat-x;
    background-attachment: fixed;
}